* {
    font-family: "Heebo";
}

.about-background {
    height: 100svh;
    width: 100%;
    position: relative;
    background-color: #fff6fb;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.about-background::before {    
    content: "";
    background-image: url("../../../assets/images/about-bg.png");
    background-size: cover;
    background-position: 80% 20%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.about-container {
    width: 60vw;
    z-index: 2;
    margin-top: 50px;
}

.sakura-branch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.sakura-branch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fff6fb 0%, #fff6fb1e 20%, #fff6fb00 60%, #fff6fb00 100%);
}

.chef-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px 15px 30px;
}

.circle {
    width: 215px;
    height: 215px;
    background-color: #d00d0dcb;
    border-radius: 50%; 
    margin: 20px;
}

.circle img {
    height: 220px;
    position: relative;
    right: 20px;
}

.name {
    font-size: 1.7rem;
}

p {
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .circle {
        width: 195px;
        height: 195px;
    }
    
    .circle img {
        height: 200px;
        right: 19px;
    }

    .about-container {
        width: 75vw;
        font-size: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .about-container {
        width: 80vw;
        font-size: 0.9rem;
    }

    .circle {
        width: 175px;
        height: 175px;
    }
    
    .circle img {
        height: 180px;
        right: 17px;
    }

    .name {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 500px) {
    .circle {
        width: 155px;
        height: 155px;
    }
    
    .circle img {
        height: 160px;
        right: 15px;
    }

}