<app-header (changeLanEvent)="changeLanguage()"></app-header>
<div class="about-background">
    <div class="about-container">
        <div class="chef-info">
            <div class="picture">
                <div class="circle">
                    <img src="../../../assets/images/ofer.png">
                </div>
            </div>
            <label class="name">OFER HERMONI</label>
            <label class="name">オフェル ヘレモニ</label>
        </div>
        <p>{{ aboutInfo }}</p>
    </div>
</div>