* {
    font-family: "Heebo";
}

.gallery-background {
    height: 77svh;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.gallery-background::before {    
    content: "";
    background-image: url("../../../assets/images/about-bg.png");
    background-size: cover;
    background-position: 80% 20%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}