.popup-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-container img {
    width: 350px;
    height: 350px;
}

.description {
    font-family: 'Heebo';
    margin: 0px 20px 15px 20px;
    font-size: 1.1rem;
    text-align: center;
}

.popup-container button {
    align-self: flex-end;
}

.close {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: 0.2s ease-in;
    margin: 15px 20px;
    right: 0;
    z-index: 6;
    top: 0;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 3.5px;
    background-color: #191919;
    text-shadow: var(--text-outline);
    border-radius: 8px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


::ng-deep .cdk-overlay-container {
    display: flex !important;
    height: 100dvh;
    justify-content: center !important;
    align-items: center !important;
    z-index: 5;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
    width: 400px;
    height: 470px;
} 

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    overflow: visible;
}

::ng-deep  .mat-mdc-dialog-container {
    background-color: rgb(205, 205, 205) !important;
}

@media screen and (max-width:600px){
    ::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
        width: 300px;
        height: 370px;
    }

    .popup-container img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:400px){
    ::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
        width: 270px;
        height: 340px;
    }

    .popup-container img {
        width: 220px;
        height: 220px;
    }
}

