.main-background {
    height: 83.7svh;
    width: 100%;
    background-size: cover;
    background-position: 0% 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-background::before {    
    content: "";
    background-size: cover;
    background-image: url("../../../assets/images/main-bg.png");
    background-position: 25% 75%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

app-header {
    z-index: 1;
}

.transition-bg {
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff6fb 100%);
    bottom: 0;
    position: absolute;
}


.title-container {
    margin: 50px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}


.title {
    text-shadow: var(--text-outline);
    font-family: "New Tegomin", serif;
    font-size: 8rem;
    letter-spacing: 1mm;
    color: black;
    text-align: center;
    padding: 0 15px;
    z-index: 3;
}

.subtitle {
    text-align: center;
    font-family: "New Tegomin", serif;
    font-size: 3rem;
}

.hebrew-font {
    font-family: "Alef", serif;
}

.english-font {
    font-family: "New Tegomin", serif;
}


@media screen and (max-width: 1100px) {
    .title {
        font-size: 6rem;
    }

    .subtitle {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .main-background {
        height: 77svh;
    }
    
    .title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 650px) {
    .title-container {
        margin: 25px 0;
    }
}

@media screen and (max-width: 525px) {
    .subtitle {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 4.5rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .main-background {
        height: 74.5svh;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 390px) {
    .title {
        font-size: 3.9rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .main-background {
        height: 75.8svh;
    }
}