.main-background {
    height: 100svh;
    width: 100%;
    background-size: cover;
    background-position: 0% 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-background::before {    
    content: "";
    background-image: url("../../../assets/images/main-bg.png");
    background-size: cover;
    background-position: 25% 75%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.transition-bg {
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff6fb 100%);
    bottom: 0;
    position: absolute;
}

.title-container {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.title {
    font-family: "New Tegomin", serif;
    font-size: 8rem;
    letter-spacing: 1mm;
    color: black;
    text-align: center;
    padding: 0 15px;
}

.subtitle {
    text-align: center;
    font-family: "New Tegomin", serif;
    font-size: 3rem;
}

.hebrew-font {
    font-family: "Alef", serif;
}

.english-font {
    font-family: "New Tegomin", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    z-index: 1;
}

.contact-info{
    display: flex;
}

.menu {
    display: flex;
}

.menu-btn {
    font-family: 'Heebo';
    margin: 15px;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
}

.menu-btn::after {
    content: "";
    position: absolute;
    width: 92%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.08em;
    top: 33px;
    left: 2%;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.menu-btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.contact-btn {
    height: 50px;
    margin: 0 5px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(37, 37, 37, 0.8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.contact-btn:hover {
    background-color: rgba(12, 12, 12, 0.8);
}

.whatsapp-icon {
    margin-right: 10px;
}

.whatsapp-btn {
    padding: 7.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: width ease 1s;
    transition: 1s;
}

.whatsapp-btn:hover {
    width: 165px;
    border-radius: 50px;
    background-color: rgba(12, 12, 12, 0.8);
}

.whatsapp-btn a {
    font-family: 'Heebo';
    font-size: 1rem;
    color: rgb(190, 190, 190);
    max-width: 0px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    transition: max-width 1s;
    padding: 0 0px;
}

.whatsapp-btn:hover a {
    max-width: 100px;
    animation-delay: 2s;
}

.img-icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor:  pointer;
}

.language-icon {
    overflow: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.language-icon .front,
.language-icon .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.language-icon .back {
    opacity: 0;
    transition: all 0s 0.15s;
    /* transform: ratateY(180deg); */
}

.language-icon::before {
    display: block;
    padding-bottom: 100%;
    content: '';
}

.language-btn {
    border: none; 
}

.language-btn:hover .language-icon {
    transform: rotateY(180deg);
}
  
.language-btn:hover .language-icon::after {
    top: 0;
    left: 0;
}

.language-btn:hover .language-icon .back {
    opacity: 1;
}

a, a:active, a:focus {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 6rem;
    }

    .subtitle {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 5rem;
    }

    .header {
        flex-direction: column;
    }

    .menu-btn {
        margin: 20px;
        font-size: 1.2rem;
    }

    .menu-btn::after {
        top: 25px;
    }
    
}

@media screen and (max-width: 700px) {
    .header {
        padding: 50px 50px 0 50px;
    }
}

@media screen and (max-width: 650px) {
    .title-container {
        margin: 25px 0;
    }
}

@media screen and (max-width: 525px) {
    .subtitle {
        font-size: 2rem;
    }

    .menu-btn {
        font-size: 1.1rem;
        margin: 20px 10px;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 4.5rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .header {
        padding: 50px 30px 20px 30px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }

    .whatsapp-btn span {
        font-size: 0.9rem;
    }

    .whatsapp-btn:hover {
        width: 140px;
    }
}

@media screen and (max-width: 390px) {
    .title {
        font-size: 3.9rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .contact-btn {
        width: 40px;
        height: 40px;
    }

    .img-icon {
        width: 30px;
        height: 30px;
    }

    .whatsapp-btn {
        padding: 5px;
    }

}