<div class="background">
    <div class="contact-info">
        <div class="contact-btn" (click)="languageChange()">
            <img class="img-icon" [src]="languageIcon">
        </div>
        <div class="contact-btn">
            <img class="img-icon" src="../../../assets/images/instagram-logo.png">
        </div>
        <div class="contact-btn">
            <img class="img-icon" src="../../../assets/images/facebook-logo.png">
        </div>
        <div class="contact-btn whatsapp-btn">
            <img class="img-icon whatsapp-icon" src="../../../assets/images/whatsapp-logo.png">
            <span>0528806979</span>
        </div>
    </div>
    <div class="title-container">
        <div class="title">OFER HERMONI</div>
        <label class="subtitle">オファー ハーモニ</label>
        <label [class]="descriptionClasses">{{ titleDescription }}</label>
    </div>
</div>
