@font-face {
    font-family: 'nuku-nuku';
    src: url('assets/fonts/nuku-nuku/nuku1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
