@font-face {
    font-family: 'nuku-nuku';
    src: url('assets/fonts/nuku-nuku/nuku1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-outline-color: #000000;
    --text-outline: -1px -1px 0 var(--text-outline-color), 1px -1px 0 var(--text-outline-color), -1px 1px 0 var(--text-outline-color), 1px 1px 0 var(--text-outline-color);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html {
    scroll-behavior: smooth;
}
